<div>
  <h1>Why Poo Diary?</h1>
  <div class="quote-container">
    <div class="quote-inner">
      <p>
        "I tell my patients that if they pay close attention to what's going on
        in the bowl, they might not need my services."
      </p>
      <p class="attribution">- Dr. Oz</p>
    </div>
  </div>
  <div class="img-container">
    <img src="/assets/poo-diary.png" />
  </div>
  <div class="btn-container">
    <button mat-button role="link" [routerLink]="['/entries']">
      Get Started
    </button>
  </div>
</div>
