<mat-toolbar>
  <h1>Your Poo</h1>
  <span class="fill"></span>
  <button mat-button type="button" role="link" [routerLink]="['add']">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<mat-card>
  <mat-card-content>
    <mat-list *ngIf="entries$ | async as entries; else noEntries">
      <ng-container *ngIf="entries.length; else noEntries">
        <mat-list-item *ngFor="let entry of entries">
          <span>{{ entry.summary }}</span>
          <span class="fill"></span>
          <span>{{ entry.takenAt | date: 'short' }}</span>
        </mat-list-item>
      </ng-container>
    </mat-list>

    <ng-template #noEntries>
      No poos yet!
    </ng-template>
  </mat-card-content>
</mat-card>
